#app(v-if='loading') loading...
#app(v-else-if='error') Oh oh! {{ error }}
#app(v-else)
    .debugging(v-if='debug')
        div Loading {{ loading }}
        div VoteType {{ VoteTypes }}
        div VoteTypes.weightedChoices {{ VoteTypes.weightedChoices }}
        div type {{ type }}
        div === {{ type == VoteTypes.weightedChoices }}
        div config {{ config }}
        div height {{ height }}
        div choices {{ choices }}
        div consensus {{ consensus }}
        div testnet {{ testnet }}, debug {{ debug }}, dummies {{ dummies }}
        div voted {{ voted }}
        div results {{ currentResults }}

    .nq-card(v-if='config && !voted')
        .nq-card-header
            h1 Voting
            | Make your voice heard and shape the future of Nimiq
        .nq-card-body
            .quote {{ config.label || config.name }}
            .choices.nq-text(v-if='type === VoteTypes.singleChoice')
                | Choose one:
                .choice(v-for='choice of choices' :key='choice.name')
                    input.radio(:id='choice.name' name='sc' type='radio' :value='choice.name' v-model='singleChoice')
                    label(:for='choice.name') {{ choice.label }}
            .choices(v-if='type === VoteTypes.multipleChoice')
                | Multiple choices:
                .choice(v-for='choice of choices' :key='choice.name')
                    input.check(:id='choice.name' type='checkbox' :value='choice.name' v-model='multipleChoices')
                    label(:for='choice.name') {{ choice.label }}
            .choices(v-if='type === VoteTypes.weightedChoices')
                | Weigh your choices:
                .choice(v-for='choice of choices' :key='choice.name')
                    label(:for='choice.name') {{ choice.label }} ({{ Math.round(100 * choice.weight / totalWeight) }}%)
                    input.slider(:id='choice.name' type='range' min='0' max='99' v-model.number='choice.weight')
            button.nq-button(@click='submitVote' :disabled='!height || !canVote') {{ height ? 'vote' : 'waiting for chain height' }}

    .nq-card(v-if='config && voted')
        .nq-card-header
            h1 Thank you for voting!
            | You helped shaping the future of Nimiq!
        .nq-card-body
            p Your vote as recorded on the blockchain: #[br] {{ voted.vote }}
            p It will become visible with the next few blocks.
            p.
                You can verify your vote on
                #[a(:href='`http://${testnet ? "test." : ""}nimiq.watch/#${voted.hash}`') nimiq.watch].
            p
                small.
                    Note: if you got the message "That transaction of block can not be found.",
                    that means you have to wait for the next block for your vote to be mined by the network.

    .nq-card(v-if='!config')
        .nq-card-header Currently no voting
        .nq-card-body Find out more about Nimiq at #[a(href='https://nimiq.com') nimiq.com].

    .nq-card(v-if='config' ref='results')
        .nq-card-header
            h1 Preliminary results
            | Estimated results of currently ongoing voting
        .nq-card-body(v-if='!currentResults') loading...
        .nq-card-body(v-else-if='!currentResults.stats.votes') No results yet. Be the first one to vote!
        .nq-card-body(v-else)
            //- p.title {{ currentResults.label }}
            section.results
                .result(v-for='result of currentResults.results')
                    //- | result - {{ result }} -
                    | {{ result.label}}: {{ Math.round(result.value / currentResults.stats.nim * 100) }}%.
                    //- | max {{ maxWidth }}px {{ maxChoiceValue }}NIM
                    .votes
                        .vote(v-for='vote of result.votes'
                            :title='`${vote.sender} - ${Math.round(vote.value / 100000)}NIM`'
                            :style='`background: ${color(vote.sender)}; width: ${vote.value * pixelPerNIM}px;`')
                            //- | {{ vote.value * pixelPerNIM }}px for {{ vote.value }}NIM
                            //- .test(:style='`background: ${color(vote.sender)}; width: ${vote.value * pixelPerNIM}px; overflow: hidden;`') {{ vote.sender }} {{ vote.height }}
            p.stats.
                In total, {{ currentResults.stats.votes }} votes were casted representing
                {{ Math.round(currentResults.stats.nim / 100000) }} NIM.
            p
                button.nq-button-pill(@click='countPreliminaryVotes()' :disabled='height <= lastCounted') refresh
        .nq-card-footer

    .nq-card(v-if='past.length > 0')
        .nq-card-header Past results
        .nq-card-body
        .nq-card-footer
