#app.error(v-if='error')
    h1 Oh oh, an error occured!
    p.message {{ error.message }}
    p.solution {{ error.solution }}
    p.reason {{ error.reason }}
#app.loading(v-else-if='loading') loading...
#app(v-else ref='app')
    .debugging(v-if='debug')
        h2 Debugging
        div testnet {{ testnet }}, debug {{ debug }}, dummies {{ dummies }}
        div Loading {{ loading }}
        div height {{ height }}, consensus {{ consensus }}
        hr
        div type {{ type }}, #configs {{ configs.length }}
        div voted {{ voted }}, newlyVoted {{ newlyVoted }}
        div vote {{ vote }}
        div votingAddress {{ votingAddress }}
        div votingConfig {{ votingConfig }}
        div choices {{ choices }}
        hr
        div resultsConfig {{ resultsConfig }}
        div results {{ currentResults }}

    // currently no voting ////////////////////////////////////////////////////

    .nq-card.voting(v-if='!votingConfig && !currentResults')
        .nq-card-header
            h1 Hello there!
            p.sub No voting is currently open.

        .nq-card-body
            template(v-if="nextVoting")
                p(v-if="nextVoting.announcement") {{ nextVoting.announcement }}
                p(v-if="nextVoting.link || nextVoting.announcementLink")
                    a.nq-link(:href="`${nextVoting.announcementLink || nextVoting.link}`" target='_blank') Click here for more info.
            p(v-else) No voting is taking place at this moment.
            p.
                To stay up-to-date about votings and Nimiq in general, follow us on
                #[a.nq-link(href='https://twitter.com/nimiq') Twitter]
                or join us on
                #[a.nq-link(href='https://t.me/joinchat/AAAAAEJW-ozFwo7Er9jpHw') Telegram]
                and
                #[a.nq-link(href='https://www.nimiq.com/community/') many more social channels].
                Looking forward to seeing you there!
            p(v-if='pastVotings.length') Loading latest results...

    // voting /////////////////////////////////////////////////////////////////

    .nq-card.voting(v-else-if='votingConfig && !voted' :class='type')
        .nq-card-header
            h1 {{ votingConfig.label }}
            p.sub
                span(v-if='type === VoteTypes.singleChoice') Please make your choice.
                span(v-else-if='type === VoteTypes.multipleChoice') Please select one or more options.
                span(v-else-if='type === VoteTypes.weightedChoice') Please weigh the items by preference.
                span(v-else-if='type === VoteTypes.ranking') Please rank the items by preference.
                span(v-if='votingConfig.link')
                    br
                    a.nq-link(:href="votingConfig.link" target='_blank') Click here for more info.

            Tooltip(preferredPosition='bottom left' :styles="{ marginLeft: '-1rem', minWidth: '21rem' }")
                InfoCircleSmallIcon(slot='trigger')
                | This poll is open until block {{ '#'+votingConfig.end }}
                .note.small ~ {{ timeRemaining }}

        .nq-card-body
            .choices.nq-text(v-if='type === VoteTypes.singleChoice' :class='choicesStyle')
                .choice(v-for='choice of choices' :key='choice.name')
                    input.radio(:id='choice.name' name='sc' type='radio' :value='choice.name' v-model='singleChoice')
                    label(:for='choice.name') {{ choice.label }}

            .choices(v-else-if='type === VoteTypes.multipleChoice' :class='choicesStyle')
                .choice(v-for='choice of choices' :key='choice.name')
                    input.check(:id='choice.name' type='checkbox' :value='choice.name' v-model='multipleChoices')
                    label(:for='choice.name') {{ choice.label }}

            .choices(v-else-if='type === VoteTypes.weightedChoices')
                .choice(v-for='choice of choices' :key='choice.name')
                    label(:for='choice.name') {{ choice.label }} ({{ Math.round(100 * choice.weight / totalWeight) }}%)
                    input.slider(:id='choice.name' type='range' min='0' max='99' v-model.number='choice.weight')

            .choices(v-else-if='type === VoteTypes.ranking')
                .left
                    .number(v-for='(choice, index) of choices' :key='choice.name') {{ index + 1 }}
                draggable.right(v-model="choices" group="choices" @start="drag=true" @end="drag=false")
                    .choice(v-for='choice of choices' :key='choice.name') {{ choice.label }}

        .nq-card-footer
            p.rules Vote by sending 0.00001 NIM. #[br] Every NIM in your address at the end of the voting period equals one vote.
            button.nq-button.light-blue(@click='trySubmittingVote' :disabled='!height || !canVote') {{ height ? 'vote' : 'waiting for chain height' }}
            .note Votes are stored publicly on the blockchain.
            .error(v-if='errorVoting')
                h3 Sorry, something went wrong submitting your vote.
                p {{ errorVoting }}
                CloseIcon.close(@click='errorVoting = ""')

    // results ////////////////////////////////////////////////////////////////

    .nq-card.results(v-else ref='results')
        .nq-card-header
            template(v-if='voted')
                h1 Thank you for voting!
                p.sub.
                    Your vote was submitted to the blockchain. #[br] Find it here:
                    #[a.nq-link(:href='`http://${testnet ? "test." : ""}nimiq.watch/#${vote.tx.hash}`' target='_blank') nimiq.watch].
                .note Verification may take a few minutes. #[a.nq-link(href="javascript:location.reload()") Refresh.]
            template(v-else)
                h1 {{ resultsConfig.label }}
                p.sub Voting results

            Tooltip(v-if='currentResults && resultsConfig' preferredPosition='bottom left'
                :styles="{ marginLeft: '-1rem', minWidth: isPreliminary ? '34.5rem' : '30rem' }")
                InfoCircleSmallIcon(slot='trigger')
                p(v-if='isPreliminary').
                    This voting started at block {{ '#'+resultsConfig.start }}#[br]
                    and will end at {{ '#'+resultsConfig.end }},#[br]
                    approx. {{ blockDate(resultsConfig.start) }}#[br]
                    to {{ blockDate(resultsConfig.end) }}.
                p(v-else).
                    This voting took place#[br]
                    from block {{ '#'+resultsConfig.start }}#[br]
                    to {{ '#'+resultsConfig.end }},#[br]
                    approx. {{ blockDate(resultsConfig.start) }}#[br]
                    to {{ blockDate(resultsConfig.end) }}.
                p.
                    In total, {{ currentResults.stats.votes }} votes representing#[br]
                    {{ formatLunaAsNim(currentResults.stats.luna) }} were cast{{ isPreliminary ? ' so far' : '' }}.
                p(v-for='result of currentResults.results').
                    {{ result.label }}: {{ result.votes.length }} votes representing#[br]
                    {{ formatLunaAsNim(result.value) }}.

        .nq-card-body
            p(v-if='currentResults === false') Could not load results. Maybe the results are not available yet.
            p(v-else-if='!currentResults') Loading... ({{ consensus ? 'consensus established, scanning blockchain' : 'waiting for consensus'}})
            p(v-else-if='!currentResults.stats.votes')
                span(v-if='isPreliminary') No results yet. It might take a few minutes for the results to show.
                span(v-else) No votes were recorded in this election.
            section.graph(v-else :class='{many: currentResults.results.length > 3}')
                .result(v-for='result of currentResults.results')
                    .votes
                        .vote.space(:style='`flex-grow: ${(maxChoiceValue - result.value) * barSizePerLuna}`')
                        .vote(v-for='vote of topVotes(result)' v-if='vote.value * percentPerLuna > 0.1'
                            :class='{mini: barSizePerLuna * vote.value < minBarItemSize}'
                            :title='`${vote.sender} - ${formatLunaAsNim(vote.value)} - ${(vote.value * percentPerLuna).toFixed(2)}%`'
                            :style='`background: ${color(vote.sender)}; flex-grow: ${vote.value * barSizePerLuna};`')
                        .vote.others(v-if='otherVotesValue(result) > 0'
                            :title='`Others - ${formatLunaAsNim(otherVotesValue(result))} - ${(otherVotesValue(result) * percentPerLuna).toFixed(2)}%`'
                            :style='`flex-grow: ${otherVotesValue(result) * barSizePerLuna}`')
                    .label
                        | {{ result.label}}
                        .note {{ Math.round(result.value / currentResults.stats.luna * 100) }}%
                    .debug(v-if='debug') maxVoteCount {{ maxVoteCount }}, maxValue: {{ maxChoiceValue }}Luna, percentPerLuna {{ percentPerLuna }}%, minSize {{ minBarItemSize }}

        .nq-card-footer
            p.graph-description Bars indicate the weight of a vote.
                template(v-if='isPreliminary') #[br] Results are preliminary.
            .vote-again(v-if='votingConfig')
                .note You can change your vote by voting again. #[br] The last vote per address counts.
                button.vote-again.nq-button-s(@click='vote = null') Vote Again
